<h1>Configure Exhibit</h1>

<%= render :partial => "form" %>

<% if @exhibit %>
  <p class="exhibit-destroy-controls">
    <%= button_to "Delete this Exhibit", atrium_exhibit_path(@exhibit.id), :method=>:delete, :class=>:destroy, :confirm=>"Are you really want to delete this exhibit?", :class => 'button' %>
  </p>
<% end %>
