

<h1>Collection</h1>
<ul>
  <% for collection in @collections %>
      <li><%= collection.title %></li>
      <%= link_to collection.title, main_app.collection_path(collection) %>
      <%= link_to("Edit Collection", edit_collection_path(collection), :class => 'button').html_safe %>
  <% end %>
</ul>

