<h2>About Searching This Collection</h2>
<p>
  Search results will be narrowed to just items contained within this
  collection.  If you wish to search across multiple collections you can go to
  the <%= link_to "Main Search Page", root_path %>.

  The bibliographic descriptions available on this site can be browsed via the
  general search box or faceted values lists, both found at left.  Entering a
  query in the search box seeks a match across all fields of bibliographic data.
</p>
<p>
  If you have narrowed down a results list via faceted values but would like to
  drop one or more of these restrictions from your results set, click the
  &#8220; <span class="close-symbol">&#215;</span> &#8221; symbol at the top of
  the page to eliminate search limiters.  You can also initiate a new search at
  any time via the blue &#8220;Start Over&#8221; button found at the top of the
  results set.
</p>
