<h3><%= t(:welcome) %></h3>
<p>To modify this text copy the following file within the Atirum gem:</p>
<pre>GEM_HOME/atrium/app/views/catalog/_default_home_text.html.erb</pre>
<p>to your rails application:<p>
<code><pre>app/views/catalog/_default_home_text.html.erb</pre></code>
<p><strong>NOTE:</strong> You will need to create the <em>views/catalog</em> directory if you haven't already.</p>
