/*
 * This is a manifest file that'll be compiled into atrium.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require 'atrium/reset'
 *= require_self
 *= require 'atrium/theme'
 *
 *= require 'atrium/collections'
 *= require 'atrium/descriptions'
 *= require 'atrium/exhibits'
 *= require 'atrium/showcases'
 *
 *= require 'chosen'
 */

/* Global */

body {
  padding:0;
}

.warning { color: red !important;}

.button {
  background-color:#CCC;
  border-color: #FFF #000 #000 #FFF;
  border-style:solid;
  border-width:1px;
  display:inline-block;
  line-height:1.2em;
  padding:.3em .5em;
}

/** yui **/

#doc, #doc2, #doc3, #doc4 {
  border-top:5px solid #484748;
}

/** Sidebar  **/
.blacklight-atrium_collections-edit .sidebar h2,
.blacklight-atrium_exhibits-edit .sidebar h2 {
  margin-bottom:.3em;
}

.collection-controls,
.exhibit-controls {
  margin-top:0;
}

.collection-controls li,
.exhibit-controls li {
  list-style-type:none;
}

.facet-list .collection-title,
.facet-list .exhibit-title {
  margin-bottom:0;
}


/** Banner **/

#banner {
  background-color:#EFEFEF;
  border-bottom:2px solid #333;
  font-size: 1.2em;
  line-height:3.2em;
  opacity:.95;
  padding:.1em .6em;
  position:relative;
  text-align:left;
}

#banner .controls {
  line-height:3.5em;
  margin:0;
  position:absolute;
  right:.6em;
  top:0;
}

#banner .controls li {
  display:inline;
  list-style-type:none;
}

#banner .button {
  background-color:#DDD;
  border-color: #EEE #999 #999 #EEE;
  border-style:solid;
  border-width:1px;
  color:#333;
  display:inline-block;
  line-height:1.2em;
  padding:.3em .5em;
  border-radius:3px;
}

#prompt {
  position:fixed;
  top:3px;
  left:3px;
  text-align:center;
  padding:1em .3em;
}

/** Navigation menu **/
#exhibit-menu {
  margin:0 0 .3em 0;
  padding:1px;
  line-height:3.2em;
  text-align:left;
  border-width:1px 0;
  border-style:solid;
  border-color:#CCC;
}

#exhibit-menu li {
  list-style-type:none;
  display:inline;
  line-height:1.2em;
}

#exhibit-menu a {
  padding:.5em 1em;
  border-bottom:none;
}

#exhibit-menu a:hover {
  background-color:#EFEFEF;
}

/** Custom bits of data forms **/

legend {
  color: #999;
}

fieldset {
  padding: .5em;
  border: 1px solid #eeeeee;
}

select {
  background-color:#FFFFFF;
  border:1px solid #cccccc;
  font-size:.9em;
}

/** Pages **/
#show-description ul {
  margin-left:0;
}

#show-description ul li {
  list-style-type:none;
}

/** Lists **/
ol.sortable {
  list-style-type:none;
  margin:0;
  padding:0;
  width:72%;
}

ol.sortable li {
  font-size: 1.2em;
  height:1.2em;
  margin:0 3px 3px;
  padding-left:1.5em;
  padding:.4em .4em .4em 1.5em;
}

ol.sortable li span {
  position:absolute;
  margin-left:-1.3em;
}

.sortable td.label {
  padding-left:0;
  width:5.5em;
}

/** Forms **/
form input {
  border:1px solid #CCC;
}

form.atrium fieldset {
  margin-bottom:2em;
}

form.atrium fieldset.last {
  margin-bottom:0;
}

form.atrium ol {
  margin:0;
}

form.atrium ol li {
  list-style-type:none;
}

form.atrium li:first-child label {
  margin-top:0;
}

form.atrium label {
  display:block;
  margin-top:1em;
}

form.atrium .inline {
  margin-top:1em;
}

form.atrium .inline label {
  display:inline;
  margin-top:0;
}

form.atrium input[type=text] {
  line-height:1;
  padding:.3em .3em .1em;
}

form.atrium input[type=text],
form.atrium select {
  width:72%;
}

form.atrium small {
  display:block;
  opacity:.8;
  margin-top:.5em;
  margin-left:.5em;
}

form.atrium textarea {
  width:98%;
}

form.atrium th {
  text-align:left;
}

form.hazardous-action .button {
  background-color:#F00;
  border-color:#FF5D5D #A80000 #A80000 #FF5D5D;
  font-weight:bold;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  border-bottom:none;
}

ol.exhibit-listing {
  margin-left:0;
  padding:1em;
}

ol.exhibit-listing li {
  position:relative;
  list-style-type:none;
}

ol.exhibit-listing .controls {
  position:absolute;
  right:.6em;
}
